


body {
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    background-color: #f4f4f4;
    margin: 0;
    text-align: left;
}

.btn-outline-primary.active {
    background-color: #007bff;
    color: #fff;
}

.sizes-tags .btn {
    margin: 5px;
}

.btn-outline-secondary.active {
    background-color: #6c757d;
    color: #fff;
}


.sizes-tags-wrapper {
    display: flex;
    flex-wrap: wrap; /* Allows tags to wrap to the next line */
    gap: 8px; /* Space between tags */
    margin-bottom: 20px;
}

.sizes-tags-wrapper .tag-label {
    display: inline-flex;
    align-items: center;
    padding: 4px 12px; /* Adjusted padding to make tags smaller in height */
    border-radius: 15px;
    border: 1px solid #ccc;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s;
}

.sizes-tags-wrapper .tag-input {
    display: none;
}

.sizes-tags-wrapper .tag-input:checked + .tag-label {
    background-color: #3498db;
    color: #ffffff;
}

/* Optional: Add a hover effect for sizes tags */
.sizes-tags-wrapper .tag-label:hover {
    background-color: #5dade2;
    color: #ffffff;
}



.btn btn-danger .mb-4 {
    position: fixed;      /* Fixed position */
    top: 30px;            /* 30px from the top */
    right: 30px;          /* 30px from the right side */
    border-radius: 15px;  /* Rounded corners */
    background-color: #f44336; /* Red background */
    color: white;         /* White text color */
    border: none;         /* Remove default borders */
    padding: 12px 24px;   /* Some padding */
    font-size: 16px;      /* Increase font size */
    cursor: pointer;      /* Pointer/hand icon on hover */
    z-index: 1000;        /* Ensure the button is on top of other elements */
    font-family: 'Poppins', sans-serif; /* Using Poppins font */
    text-transform: uppercase; /* Uppercase text */
}

.logout-button:hover {
    background-color: #d32f2f; /* Darken the background on hover */
}


/* Card styling */
.card {
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.card-header {
    background-color: transparent;
    font-size: 20 px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}
    
h2 {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

button {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #5dade2;
}

.logout-container {
    position: relative;
    padding: 20px;
}

.logout-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}
